
*{
    margin: 0 auto;
    padding: 0;
}
.body{
    max-width: 1600px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.header{
    background-color: #FFFFFF;
}


.navbar{
    display: flex;
    padding: 16px 120px;
    max-width: 1600px;
    border: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    
}

.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
    font-size: medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    list-style-type: none;

}
.nav-menu a{
    text-decoration: none;
    color: #000000;

}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16;
}

.btn{
    max-width: 251px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    border-radius: 4px;
    color: white;
    background-color: #30B868;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    font-weight: 600;
    text-transform: capitalize;
}
.btn-2{
    max-width: 198px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 16px 12px 16px;

    box-sizing: border-box;
    border: 1px solid rgba(192, 181, 177, 0.877);
    border-radius: 4px;

    font-style: Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
}

.heading-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.heading-section .button{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.heading-section .btn-3{
    width: 229px;
    color:#30B868;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    background: whitesmoke;
}

.heading-section h1{

    max-width: 770px;
    margin: 16px auto;
    opacity: 0.9;
    color: rgba(249, 85, 85, 1);
    line-height: 84px;
    text-align: center;
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    text-transform: capitalize;

    width: 1360px;
    align-items: center;
    gap: 16;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;

}
.span{
    color: #30B868;
}
.heading-section p{
    max-width: 1360px;
    margin: 16px 295px;
    color: rgb(67, 145, 48);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16;
    padding: 16px 150px;
}

.h2{
    max-width: 1360px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #001931;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    text-align: center;
    text-transform: capitalize;
}

.h4{
    width: 700px;
    color: #30B868;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    justify-content: left;
    text-align: left;
    text-transform: uppercase;
}

.Note-box{

    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 44;
    padding: 120px;
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);

}

.img{
    width: 32px;
    height: 32px;
    padding: 20px;
    background-color: rgba(249, 85, 85, 1);
    border-radius: 50%;
    background-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.note p{
    max-width: 1360px;
    margin: 16px auto 44px auto;
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.note-card{
    display: flex;
    margin: 0px auto ;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}

.card{
    max-width: 322px;
    border-radius: 8px;
    justify-content: space-between;
    padding: 20px;
    /* color: #FFFFFF; */
    box-shadow: #0000002c 0px 0px 8px 0px;
    gap: 16px;
}

.note-card .card h3{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #001931;
    padding: 16px;
}

.note-card .card p{
max-width:274px;
color: #627382;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;
}

#solution-section{
    max-width: 1600px;
    padding: 120px;
}
.solution{
    display: flex;
    align-items: center;
    gap: 60;
    max-width: 1360px;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
}  

.img-konwledge{
    max-width: 600px;
    border-radius: 12px;
}

.container{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40;
    margin: 102px auto ;
}

.container .h2{
    max-width: 700px;
    color:#001931;
    font-style: Bold;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    text-align: left;
    text-transform: capitalize;

}

.container p{
    margin: 16px auto;
    width: 700px;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.ul-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16;

    color:rgba(0, 25, 49, 1);
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}

#Ready-section{
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24;
    padding: 80px 40px 80px 40px;

    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
}

.think-more p{
    max-width: 1280px;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 24px auto;
}

.early-access p{
    max-width: 1280px;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 16px;

}

.footer{
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80;
    padding: 120px 120px 30px 120px;
    background: var(--Style, rgba(0, 25, 49, 0.863));
}

.img-logo{
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 700px;
    margin-top: 24px;
}
.img-logo .logo-footer{
    color: rgba(255, 255, 255, 1);
    width: 139px;
}

.Social{
    color: rgba(255, 255, 255, 1);
    width: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.social-logo{
    
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;margin-top: 16px;
    color: white;
}
.copyright{
    color: rgba(255, 255, 255, 1);
    max-width: 1360px;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30;
}